html,
body{
  margin: 0px;
  padding: 0px;
  background-color: #eee;
}

nav{
  height: 80px;
  width: 100%;
  box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.94);
  background-color: white;
}

nav .logo img{
  height: 30px;
  padding: 20px;
}

nav p{
  margin: 15px 0 0 15px;
  font-family: 'Baloo Chettan', cursive;
  color: #ef5a20;
  font-size: 45px;
  padding-top: 10px;
}

nav .links{
  float: right;
  margin: 15px 15px 0 0;
  margin-top: -40px;
  padding-right: 30px;
}

nav .links a{
  font-family: 'Baloo Chettan', cursive;
  color: #ef5a20;
  font-size: 15px;
  text-decoration: none;
  padding-left: 10px;
  font-weight: lighter;
}

nav .links a:hover{
  text-decoration: underline;
}

.container{
margin-left: 12%;
}

h1,
h2{
  font-family: 'Baloo Chettan', cursive;
  color: #ef5a20;
  font-size: 35px;
}

.text .mdl-textfield{
  margin-left: 20px;
}


.mdl-switch{
  margin-top: 10px;
}

.subcontainer{
  background-image: url("banner.jpg");
  background-size: 100%;
  min-width: 100%;
  height: 550px;
  overflow: hidden;
  opacity: 0.4;
  font-size: 20px;

}

.mdl-button{
  margin-left: 25%;
  margin-top: 20px;
  height: 50px;
  width: 500px;
  background-color: #ef5a20;
  font-family: 'Baloo Chettan', cursive;
  font-size: 25px;
  color: white;
}

.mdl-button:hover{
  background-color: #ef5a20;
}

footer{
  height: 100px;
  width: 100%;
  background-color: #555;
  box-shadow: inset -1px 5px 26px -6px rgba(0,0,0,0.75);
  margin-top: 30px;
}

footer h1{
  padding: 15px;
  font-size: 25px;
  float: left;
  color: white;
}

footer img{
  margin-left: 25px;
}

footer .image-box{
  float: right;
  margin-right: 50px;
}

/*Laranja
#ef5a20*/
