html,
body{
  margin: 0px;
  padding: 0px;
}

nav{
  height: 80px;
  width: 100%;
}

nav .logo{
  float: left;
}

nav p{
  margin: 15px 0 0 15px;
  font-family: 'Baloo Chettan', cursive;
  color: #ef5a20;
  font-size: 45px;
  padding-top: 10px;
}

nav .links{
  float: right;
  margin: 15px 15px 0 0;
  padding-top: 15px;
  padding-right: 30px;
}

nav .links a{
  font-family: 'Baloo Chettan', cursive;
  color: #ef5a20;
  font-size: 25px;
  text-decoration: none;
  padding-left: 10px;
  font-weight: lighter;
}

nav .links a:hover{
  text-decoration: underline;
}

.container{
  background-color: black;
}

.subcontainer{
  background-image: url("banner.jpg");
  background-size: 100%;
  min-width: 100%;
  height: 550px;
  overflow: hidden;
  opacity: 0.4;
}

.descricao{
  font-size: 90px;
  font-family: 'Baloo Chettan', cursive;
  color: white;
  position: absolute;
  margin-top: -450px;
  margin-left: 30%;
  text-shadow: 2px 2px #000000;
}

.subdescricao{
  font-size: 20px;
  font-family: 'Baloo Chettan', cursive;
  color: white;
  position: absolute;
  margin-top: -350px;
  margin-left: 23%;
  text-shadow: 2px 2px #000000;
}

.box-buttons{
  text-align: center;
  z-index: 2;
  margin-top: -130px;
  padding-bottom: 30px;
  margin-left: -85px
}

.mdl-button{
  background-color: #ef5a20;
  color: white;
  font-size: 25px;
  width: 200px;
  height: 100px;
  margin-left: 70px;
  font-family: 'Baloo Chettan', cursive;
}

.mdl-button:hover{
  background-color: #ef5a20;
  color: white;
}

footer{
  height: 120px;
  width: 100%;
  position: fixed;
  background-color: #555;
  box-shadow: inset -1px 5px 26px -6px rgba(0,0,0,0.75);
}

/*Laranja
#ef5a20*/
