html,
body{
  margin: 0px;
  padding: 0px;
}

nav{
  height: 90px;
  border: 1px solid #000;
  width: 100%;
}

nav .logo{
  float: left;
}

nav p{
  margin: 15px 0 0 15px;
}

nav .links{
  float: right;
  margin: 15px 15px 0 0;
}

.container img{
  
}
